@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    color: darkslategray;
    font-family: 'Poppins', sans-serif;
    
}

h1{
    text-align: center;
    margin-top: 20px;
}
.list{
    width: 500px;
    margin: 0 auto;
}
ul{
    padding: 0;
    text-decoration: none;
}
li{
    padding: 15px;
    list-style: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    
}
li:hover{
    background-color: rgb(224, 216, 216);
    text-decoration: none;
    
    
}
a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
    
}
